@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
}
.header-sec {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
}
.logo .humburger{
  font-size: 20px;
} 
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
}
nav ul li a:hover {
  color: #028152;
}
.active{
  color: #039a63;
}
.header-sec img {
  width: 60px;
  cursor: pointer;
}
.rightNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 20px;
}
.cart{
  position: relative;
}
.cart p{
  position: absolute;
  top: -15px;
  left: 5px;
  font-weight: bold;
  color: green;
  z-index: 1;
}
.darkMode{
  cursor: pointer;
}
.rightNav .loginBtn{
  padding: 8px 20px;
  border: 1px solid #028152;
  background-color: transparent;
  cursor: pointer;
  border-radius: 30px;
  font-size: 16px;
}
.rightNav .loginBtn:hover{
  background-color: #039a63;
  color: #fff;
  transition: all 0.2s linear;
}

/* *********************  Filter Section  *********************/

.filterBtn {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.filterBtn .fiteredBtn {
  min-width: 120px;
  border-radius: 100px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  border: 2px solid #039a63;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filterBtn button:hover{
  background-color: #039a63;
  color: #fff;
  transition: all 0.2s linear;
}

/* ************************* SEARCH BAR OR BUTTON **************** */

.inputSec {
  display: flex;
  height: 40px;
  border-radius: 100px;
  overflow: hidden;
  border: 2px solid #039a63;
}
.inputSec input {
  outline: none;
  border: none;
  width: 500px;
  padding: 10px;
  font-size: 16px;
}
.inputSec button {
  border: none;
  outline: none;
  width: 80px;
  background-color: #039a63;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.inputSec button:hover {
  background-color: #028152;
}

/* ************************* Main- container or body **************** */

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px 0;
}

.card {
  width: 250px;
  border: 1px solid #039a63;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.card:hover {
  box-shadow: #54ff9b9d 0px 3px 8px;
  transform: scale(1.02);
}
.card img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
  transition: all 0.5s ease;
}
.nameRate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}
.nameRate h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nameRate h4 {
  padding: 1px 5px;
  background-color: #039a63;
  border-radius: 3px;
  color: #fff;
}
.duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addDis {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cuisines{
  font-style: italic;
}

/* ****************************** Shimmer components ********************* */

.shimmer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.sprite-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 50px 80px;
}

.sprite-container img {
  width: 430px;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
  object-position: top;
  object-fit: cover;
}
.image-2 {
  background-position: -100px 0;
}

.image-3 {
  background-position: -200px 0;
}

.image-4 {
  background-position: -300px 0;
}

.image-5 {
  background-position: -400px 0;
}

.image-6 {
  background-position: -500px 0;
}

.image-7 {
  background-position: -600px 0;
}

.image-8 {
  background-position: -700px 0;
}

.image-9 {
  background-position: -800px 0;
}

.image-10 {
  background-position: -900px 0;
}

.image-11 {
  background-position: -1000px 0;
}

.image-12 {
  background-position: -1100px 0;
}

.image-13 {
  background-position: -1200px 0;
}

.image-14 {
  background-position: -1300px 0;
}

.image-15 {
  background-position: -1400px 0;
}

.image-16 {
  background-position: -1500px 0;
}

.image-17 {
  background-position: -1600px 0;
}

.image-18 {
  background-position: -1700px 0;
}

.image-19 {
  background-position: -1800px 0;
}

.image-20 {
  background-position: -1900px 0;
}

/* ****************************** Footer components ********************* */

.footer-section{
  background-color: #201f1f;
  padding: 40px 0;
  color: #fff;

}
.footerHead{
  display: flex;
  justify-content: space-between;
  padding: 10px 80px;
}
.lan{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.lan select{
  color: #000;
  outline: none;
  border: none;
}
.lan img{
  width: 20px;
}
.footerLink{
  display: flex;
  justify-content: space-between;
  padding: 10px 80px;
}
.socialLinks{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  padding-top: 20px;
  font-size: 20px;
  transition: all 1s ease 1s;
}
.socialLinks a:hover{
  transform: scale(1.2);
}


/* ****************************** Sidebar components ********************* */

.sidebar{
  width: 250px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  background-color: #fff;
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  top:37px;
  left:-170px;
  z-index: 1;

}
.top{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-bottom: .5px solid gray;
  gap: 20px;
}
.topprofile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.middle{
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid gray;
  padding: 10px;
  font-size: 18px;
}
.middle ul li a{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  padding: 10px 0;
}
.middle ul li a:hover{
  color: #039a63;
}
.buttom{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: .5px solid gray;
  padding: 30px 0;
}
.buttom .LogoutBtn{
  padding: 8px 20px;
  border-radius: 30px;
  border: .5px solid gray;
  font-size: 20px;
  width: 150px;
}
.buttom .LogoutBtn:hover{
  background-color: #039a63;
  color: #fff;
  transition: all 0.2s linear;
}


/* ****************************** Login components ********************* */

.mainContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 80px;
}
.formContainer{
  width: 450px;
  font-size: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  
  padding: 60px 30px;
}
.formContainer form{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 30px;
}
.formContainer form input{
  border: .5px solid gray;
  padding: 5px;
  outline: none;
  border-radius: 5px;
}
.btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.btn button{
  padding: 5px;
  border: .5px solid gray;
  border-radius: 5px;
}
.imgContainer img{
  width: 500px;
}

/* ************************* Dark Mode Created **************** */
/* 
html{
  background-color: black;
  color: white;
} */